body {
    text-align: center;
}

.login-container, .form-section, .table-section {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
}
